
.header-logo {
    height: 90px;
}

.logo-big {
    height: 1%;
}

.header-main {
    position: relative;

}

.btn-right {
    width: 50%;
    border-radius: 0;
    position: relative;
    transform: translate(100%, 0);
    right: 5px;
    bottom: 5px;
    font-family: "Avenir Next";
}

