
.header-logo {
    height: 90px;
}

.logo-big {
    height: 1%;
}

.header-main {
    position: relative;

}

.btn-right {
    width: 50%;
    border-radius: 0;
    position: relative;
    transform: translate(100%, 0);
    right: 5px;
    bottom: 5px;
}

.btn-center {
    border-radius: 0;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

nav {
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.32);
    background-color: #222222
}

body {
    font-family: 'Lato', sans-serif;
}

.header-bg {
    color: #d2d2d2;
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.32);
    text-shadow: 1px 1px 0 rgba(0,0,0, 0.3);
}

.card {
    border-width: 0px;
    border-radius: 0;
    background-color: #222222;
    color: white;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.32);
    margin-bottom: 9px;
}

.card-header {
    background-color: #444444;
    font-size: larger;
}

button:active, button:focus {
    outline: none !important;
}

.display-4 {
    font-size: 6vh;
}